@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme {
  --font-sans: 'Noto Sans TC', sans-serif;
}

:root {
  ::selection {
    color: #ffffff;
    background-color: rgb(173, 70, 255, 0.4);
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: rgb(173, 70, 255, 0.4);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 250ms ease, transform 250ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(8px);
}
